.body {
  background: linear-gradient(135deg, #4e4c4c 0%, #1d1c1c 30%, #4e453b 50%, #1f1c19 70%, #161616 100%);
  color: var(--test1);
  font-family: 'Segoe UI', system-ui, sans-serif;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e1e, #3b3636);
  color: white;
  text-align: center;
  padding: 60px 40px;
  margin: 30px 20px;
  border-radius: 25px;
}

.hero-content {
  width: 100%;
}


.hero-content > h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content > p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ccc;
}

.hero-content > p >a { 
  color: #00acc1;
  cursor: pointer;
  transition: color 0.3s;
}
.hero-content > p > a:hover { 
  color: #00d4ee;
}



.hero-buttons button {
  margin: 0 10px;
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.primary-btn {
  background-color: #00bcd4;
  border-radius: 5px;
  color: black;
}
.primary-btn:hover { background-color: #00acc1; }

.secondary-btn {
  background-color: transparent;
  border: 2px solid #00bcd4;
  color: #00bcd4;
}
.secondary-btn:hover {
  background-color: #00bcd4;
  color: black;
}

@media (max-width: 560px) {
  .hero { padding: 40px 20px; }
  .hero-content > h1 { font-size: 32px; }
}