<section id="home" class="hero">
  <div class="hero-content">
    <h1>Hello, I'm Anton Christensen</h1>
    <p>A up an comming backend developer.</p>
    <p>This website will be used as a sort of online resume and portfolio.</p>
  </div>
</section>
<section id="Technologies" class="hero">
  <div class="hero-content">
    <h1>Technologies I Have Worked With</h1>
    <div class="skills">
      <div class="skills-content">
        <h1>Languages</h1>
        <p>Python</p>
        <p>Java</p>
        <p>C</p>
        <p>C#</p>
        <p>C++</p>
        <P>arduino/sketch</P>
        <p>Bash</p>
        <p>php</p>
        <p>rust</p>
        <p>Typescript</p>
        <p>Javascript</p>
        <p>html</p>
        <p>css</p>
      </div>
      <div class="skills-content">
        <h1>Web FrameWorks</h1>
        <div class="FrameWorks">
          <h2>Frontend</h2>
          <p>Node.js</p>
          <p>Bootstrap</p>
          <p>Angular</p>
          <p>react</p>
          <p>python flask</p>
          <p>Vue</p>
        </div>
        <div class="FrameWorks">
          <h2>Backend</h2>
          <p>Hono</p>
          <p>ruby on rails</p>
          <p>Laravel</p>
          <p>asp.net</p>
        </div>
      </div>
      <div class="skills-content">
        <h1>Tools</h1>
        <div>
          <h2>General development</h2>
          <p>figma</p>
          <p>Github</p>
          <p>Uml diagram</p>
          <p>slack</p>
          <p>Jira</p>
          <p>kanban</p>
        </div>
        <div class="Tools">
          <h2>Devops</h2>
          <p>Git actions</p>
          <p>Docker</p>
          <p>kubernetes</p>
          <p>jenkins???</p>
        </div>
        <div class="Tools">
          <h2>Datatools</h2>
          <p>Mysql</p>
          <p>sqllite</p>
          <p>mongoDB</p>
          <p>hdfs</p>
          <p>kafka</p>
          <p>mysqti??</p>
          <p>RoomDatabase</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Projects" class="hero">
  <div class="hero-content">
    <h1>Projects</h1>
    <p>Backend Developer</p>
  </div>
</section>