<div class="body">
  <section id="home" class="hero">
    <div class="hero-content">
      <h1>Hello, I'm Anton Christensen</h1>
      <p>A up an comming backend developer.</p>
      <p>This website will be used as a sort of online Resume and portfolio.</p>
    </div>
  </section>

  <!-- Technologies -->
<section id="Technologies" class="hero">
  <div class="hero-content">
    <h1>Technologies I Have Worked With</h1>
    <p>Most of these technologies I have gained experience with through self-learning and my studies at SDU Odense.</p>
    
    <!-- skills -->
    <div class="skills">
      <!-- Languages -->
      <div class="skills-content">
        <h1>Languages</h1>
        <div class="items-grid">

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="Python" loading="lazy" src="./Icons/Languages/Python.svg">
            </div>
            <p>Python</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="Java" loading="lazy" src="./Icons/Languages/Java.svg">
            </div>
            <p>Java</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="C" loading="lazy" src="./Icons/Languages/C_Programming.svg">
            </div>
            <p>C</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="C#" loading="lazy" src="./Icons/Languages/CSharp.svg">
            </div>
            <p>C#</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="C++" loading="lazy" src="./Icons/Languages/CPlusPlus.svg">
            </div>
            <p>C++</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="Arduino" loading="lazy" src="./Icons/Languages/Arduino.svg">
            </div>
            <p>Arduino</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="Bash" loading="lazy" src="./Icons/Languages/Bash.svg">
            </div>
            <p>Bash</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="PHP" loading="lazy" src="./Icons/Languages/PHP.svg">
            </div>
            <p>PHP</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="Rust" loading="lazy" src="./Icons/Languages/Rust.svg">
            </div>
            <p>Rust</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="TypeScript" loading="lazy" src="./Icons/Languages/TypeScript.svg">
            </div>
            <p>TypeScript</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="JavaScript" loading="lazy" src="./Icons/Languages/JavaScript.svg">
            </div>
            <p>JavaScript</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="HTML" loading="lazy" src="./Icons/Languages/HTML.svg">
            </div>
            <p>HTML</p>
          </div>

          <div class="grid-item">
            <div class="grid-item-svg-box">
              <img class="grid-item-svg" alt="CSS" loading="lazy" src="./Icons/Languages/CSS.svg">
            </div>
            <p>CSS</p>
          </div>

        </div>
      </div>
      <!-- end of Languages -->

      <!-- Web FrameWorks -->
      <div class="skills-content">
        <h1>Web Frameworks</h1>

        <div class="skill-group">
          <h2>Frontend</h2>
          <div class="items-grid">

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Node.js" loading="lazy" src="./Icons/Frameworks/NodeJS.svg">
              </div>
              <p>Node.js</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Bootstrap" loading="lazy" src="./Icons/Frameworks/Bootstrap.svg">
              </div>
              <p>Bootstrap</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Angular" loading="lazy" src="./Icons/Frameworks/Angular.svg">
              </div>
              <p>Angular</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="React" loading="lazy" src="./Icons/Frameworks/React.svg">
              </div>
              <p>React</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Flask" loading="lazy" src="./Icons/Frameworks/Flask.svg">
              </div>
              <p>Flask</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Vue" loading="lazy" src="./Icons/Frameworks/Vue.svg">
              </div>
              <p>Vue</p>
            </div>

          </div>
        </div>

        <div class="skill-group">
          <h2>Backend</h2>
          <div class="items-grid">

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Hono" loading="lazy" src="./Icons/Frameworks/Hono.svg">
              </div>
              <p>Hono</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Ruby on Rails" loading="lazy" src="./Icons/Frameworks/Rails.svg">
              </div>
              <p>Rails</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Laravel" loading="lazy" src="./Icons/Frameworks/Laravel.svg">
              </div>
              <p>Laravel</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="ASP.NET" loading="lazy" src="./Icons/Frameworks/DotNet.svg">
              </div>
              <p>ASP.NET</p>
            </div>

          </div>
        </div>
      </div>
      <!-- end of Web FrameWorks -->

      <!-- Tools -->
      <div class="skills-content">
        <h1>Tools</h1>

        <div class="skill-group">
          <h2>General Development</h2>
          <div class="items-grid">

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Figma" loading="lazy" src="./Icons/Tools/Figma.svg">
              </div>
              <p>Figma</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="GitHub" loading="lazy" src="./Icons/Tools/GitHub.svg">
              </div>
              <p>GitHub</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="UML" loading="lazy" src="./Icons/Tools/UML.svg">
              </div>
              <p>UML</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Slack" loading="lazy" src="./Icons/Tools/Slack.svg">
              </div>
              <p>Slack</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Jira" loading="lazy" src="./Icons/Tools/Jira.svg">
              </div>
              <p>Jira</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Kanban" loading="lazy" src="./Icons/Tools/Kanban.svg">
              </div>
              <p>Kanban</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="API" loading="lazy" src="./Icons/Tools/API.svg">
              </div>
              <p>API</p>
            </div>

          </div>
        </div>

        <div class="skill-group">
          <h2>DevOps</h2>
          <div class="items-grid">

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="GitHub Actions" loading="lazy" src="./Icons/Tools/GitHubActions.svg">
              </div>
              <p>Git Actions</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Docker" loading="lazy" src="./Icons/Tools/Docker.svg">
              </div>
              <p>Docker</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Kubernetes" loading="lazy" src="./Icons/Tools/Kubernetes.svg">
              </div>
              <p>Kubernetes</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Jenkins" loading="lazy" src="./Icons/Tools/Jenkins.svg">
              </div>
              <p>Jenkins</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Linux" loading="lazy" src="./Icons/Tools/Linux.svg">
              </div>
              <p>Linux</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Azure" loading="lazy" src="./Icons/Tools/Azure.svg">
              </div>
              <p>Azure</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Google Cloud" loading="lazy" src="./Icons/Tools/GoogleCloud.svg">
              </div>
              <p>Google Cloud</p>
            </div>

          </div>
        </div>

        <div class="skill-group">
          <h2>Data Tools</h2>
          <div class="items-grid">

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="MySQL" loading="lazy" src="./Icons/Tools/MySQL.svg">
              </div>
              <p>MySQL</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="SQLite" loading="lazy" src="./Icons/Tools/SQLite.svg">
              </div>
              <p>SQLite</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="MongoDB" loading="lazy" src="./Icons/Tools/MongoDB.svg">
              </div>
              <p>MongoDB</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Redis" loading="lazy" src="./Icons/Tools/Redis.svg">
              </div>
              <p>Redis</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="HDFS" loading="lazy" src="./Icons/Tools/HDFS.svg">
              </div>
              <p>HDFS</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="Kafka" loading="lazy" src="./Icons/Tools/Kafka.svg">
              </div>
              <p>Kafka</p>
            </div>

            <div class="grid-item">
              <div class="grid-item-svg-box">
                <img class="grid-item-svg" alt="MQTT" loading="lazy" src="./Icons/Tools/MQTT.svg">
              </div>
              <p>MQTT</p>
            </div>

          </div>
        </div>

      </div>
      <!-- end Tools -->
    </div>
    <!-- end .skills -->
  </div>
</section>
<!-- end technologies -->

  <section id="Projects" class="hero">
    <div class="hero-content">
      <h1>Projects</h1>
      <p>Backend Developer</p>
    </div>
  </section>
</div>