<header class="header">
  <a class="logo" href="">
    Anton Lucas Schou Christensen
  </a>
<div class="right">
  <nav class="nav">
    <a href="">Home</a>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    
  </nav>

  <div class="social">
  <a class="social-btn" href="https://github.com/anton4d" target="_blank">
    <lucide-angular [img]="githubIcon" class="my-icon"></lucide-angular>
  </a>

  <a class="social-btn" href="https://www.linkedin.com/in/anton-l-s-christensen/" target="_blank">
    <lucide-angular [img]="linkedinIcon" class="my-icon"></lucide-angular>
  </a>
</div>
  </div>
</header>
