<header class="header">
  <div class="logo">
    Anton Lucas Schou Christensen
  </div>
<div class="right">
  <nav class="nav">
    <a href="#home">Home</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    
  </nav>

  <div class="social">
  <a href="https://github.com/YOUR_USERNAME" target="_blank">
    <lucide-angular [img]="githubIcon" class="my-icon"></lucide-angular>
  </a>

  <a href="https://linkedin.com/in/YOUR_USERNAME" target="_blank">
    <lucide-angular [img]="linkedinIcon" class="my-icon"></lucide-angular>
  </a>
</div>
  </div>
</header>
