<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      
      
      <div class="footer-col">
        <a href="/SagaManager" class="footer-logo">Saga Manager</a>
        <p class="footer-description">
          A website to manage your Characters and campaings in different ttrpg systems.
        </p>
      </div>

     
      <div class="footer-col">
        <h4 class="footer-title">Navigation</h4>
        <ul class="footer-links">
          <li><a routerLink="/SagaManager/My/Characters">Characters</a></li>
          <li><a routerLink="/SagaManager/My/Campaigns">Campaigns</a></li>
          <li><a routerLink="/SagaManager/My/Vault">Vault</a></li>
        </ul>
      </div>

     
      <div class="footer-col">
        <h4 class="footer-title">Connect</h4>
        <ul class="footer-contact">
          <li>Email</li>
          <li>Phone</li>
        </ul>

        <div class="footer-social">
          <a href="https://www.linkedin.com/in/anton-l-s-christensen/" class="social-btn" target="_blank">
            <lucide-angular [img]="linkedinIcon" class="my-icon"></lucide-angular>
            </a>

          <a href="https://github.com/anton4d" class="social-btn" target="_blank">
            <lucide-angular [img]="githubIcon" class="my-icon"></lucide-angular>
        </a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <span>© 2026 Anton Lucas Schou Christensen. All rights reserved.</span>
      <span>Built with Angular + TypeScript</span>
    </div>
  </div>
</footer>
